# exclude everything except directory foo/bar
/games/*
/file-io/*
/images/*

uge33/*
uge35/løsning/*
uge35/images/*
uge37/*
uge38/*
uge39/*
uge40/*
uge41/*
uge42/*
uge43/*
uge44/*
uge45/*
uge46/*
uge47/*
uge48/*
uge49/*
uge50/*
uge51/*
uge52/*
uge1/*
uge2/*
uge3/*
uge4/*
uge5/*
rester/*

*.aux
*.log
*.dvi
*.log
*.gz
*.tex
*.out
*.toc
programmering.pdf